/*
Copyright © 2022 NianBroken. All rights reserved.
Github：https://github.com/NianBroken/Firework_Simulator
Gitee：https://gitee.com/nianbroken/Firework_Simulator
本项目采用 Apache-2.0 许可证
简而言之，你可以自由使用、修改和分享本项目的代码，但前提是在其衍生作品中必须保留原始许可证和版权信息，并且必须以相同的许可证发布所有修改过的代码。
*/

* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

main {
	height: 100vh;
	width: 100%;
}

body {
	overflow: hidden;
	color: rgba(255, 255, 255, 0.5);
	font-family: "Russo One", arial, sans-serif;
	line-height: 1.25;
	letter-spacing: 0.06em;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.title {
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
}

.time {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 50px;

	& .timeWrapper {
		font-weight: 600;
		width: 200px;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		font-family: 华文楷体;
		padding: 30px;
		font-size: 50px;
		color: #f7d665;
		background-color: #ca4230;
		border-radius: 10%;

	}
}



.container {
	width: 100%;
	height: 100%;
}

.count-down {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #9c0003;
}

.stage-container {
	overflow: hidden;
	box-sizing: initial;
	border: 1px solid #222;
	margin: -1px;
}
@media (max-width: 840px) {
	.stage-container {
		border: none;
		margin: 0;
	}
}

.canvas-container {
	width: 100%;
	height: 100%;
	transition: filter 0.3s;
}
.canvas-container canvas {
	position: absolute;
	mix-blend-mode: lighten;
	transform: translateZ(0);
}



